@model IEnumerable<Gruppe1.Models.IndexInfo>

@{
    ViewData["Title"] = "Pollenvarsel for neste 5 dager";
}

<h2>Pollenvarsel for neste 5 dager</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Code</th>
            <th>DisplayName</th>
            <th>Value</th>
            <th>Category</th>
            <th>IndexDescription</th>
            <th>ColorInfo</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        var rgb = item.ColorInfo != null
            ? $"rgb({item.ColorInfo.Red},{item.ColorInfo.Green},{item.ColorInfo.Blue})"
            : "rgb(255,255,255)";
        <tr>
            <td>@item.ID</td>
            <td>@item.Code</td>
            <td>@item.DisplayName</td>
            <td>@item.Value</td>
            <td>@item.Category</td>
            <td>@item.IndexDescription</td>
            <td>@item.ColorInfoID<br />
                <span style="display:inline-block;width:24px;height:24px;background-color:@rgb;border:1px solid #ccc;"></span>
                <span>@rgb</span></td>
        </tr>
    }
    </tbody>
</table>