@model IEnumerable<Gruppe1.Models.PollenAPI.ViewModelPollen>

<h2>Pollenvarsel for neste 5 dager</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Code</th>
            <th>DisplayName</th>
            <th>Value</th>
            <th>Category</th>
            <th>IndexDescription</th>
            <th>ColorInfo</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ID</td>
            <td>@item.Date</td>
            <td>@item.Code</td>
            <td>@item.DisplayName</td>
            <td>@item.Value</td>
            <td>@item.Category</td>
            <td>@item.IndexDescription</td>
            <td style="background-color:rgb(@item.Red, @item.Green, @item.Blue);>">
            </td>
        </tr>
    }
    </tbody>
</table>